@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.ant-btn-primary {
  background-color: #1677ff;
}

@media (min-width: 768px) {
  body {
    overflow: auto;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }
}
